<?xml version="1.0"?>
<launch>
    <!-- Контроллер колёс -->
    <include file="$(find jetauto_controller)/launch/jetauto_controller.launch"/>

    <!-- Детектор цвета — сам включает astrapro.launch внутри -->
    <include file="$(find jetauto_example)/scripts/color_detect/color_detect_node.launch">
        <arg name="use_depth_cam" value="true"/>
    </include>

    <!-- Нода слежения за конусом -->
    <node pkg="jetauto_example" type="cone_follow_node.py" name="cone_follow" output="screen"/>
</launch>
