<?xml version="1.0"?>
<launch>
    <!-- Камера Astra (RGB + depth) -->
    <include file="$(find jetauto_peripherals)/launch/astrapro.launch"/>

    <!-- Контроллер колёс -->
    <include file="$(find jetauto_controller)/launch/jetauto_controller.launch"/>

    <!-- Нода слежения за конусом -->
    <node pkg="jetauto_example" type="cone_follow_node.py" name="cone_follow" output="screen"/>
</launch>
